$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    "Historia" auto
    "Gustos" 1fr
    "Habilidades" auto
    / 1fr;
  gap: 8px;
}

.Aleluya  { grid-area: Aleluya ; }
.main { grid-area: main; }
.footer { grid-area: footer; }
header{color:white; font-size: 25pt; 
      background-color: darkgrey;
      text-align: center;
      padding:30 pt; }
nav{ display: flex;
   flex-direction: row;
   background-color: antiquewhite;
    padding: 19 pt 19pt;
   }
nav a{color: black;
     padding: 15pt 17pt; 
     text-decoration: none}
h3{color:whitesmoke; font-size: 25pt; }
p{color:whitesmoke; font-size: 15pt; }
LO{color:whitesmoke; font-size: 15pt;} 
